<div class= "container">
  <div class= "nav-bar">
    <h1>お問い合わせフォーム</h1>
  </div>
    <div class= "mx-auto">
    <%= form_with model: @inquiry, local: true do|f| %>
      <div class= "row mb-3">
        <label for= "inputname", class= "col-sm-2 col-form-label">名前</label>
        <div class=  "col-sm-10">
          <%= f.text_field :name, id:"inputname", class:"form-control" %>
        </div>
      </div>
      <div class= "row mb-3">
        <label for= "inputemail", class= "col-sm-2 col-form-label">メールアドレス</label>
        <div class=  "col-sm-10">
          <%= f.email_field :email, id:"inputemail",class:"form-control" %>
        </div>
      </div>
      <div class= "row mb-3">
        <label  class= "col-sm-2 col-form-label">お問い合わせ内容</label>
        <div class= "col-sm-10">
         <%= f.select :subject, options_for_select(Inquiry.subjects), class:"form-control"%>
        </div>
      </div>
      <div class= "row mb-3">
        <label for= "", class= "col-sm-2 col-form-label">件名</label>
        <div class= "col-sm-10">

        </div>
      </div>
      <div class= "row mb-3">
        <label for= "inputmessage", class= "col-sm-2 col-form-label">説明</label>
        <div class= "col-sm-10">
         <%= f.text_area :message, id:"inputmessage",class:"form-control" %>
        </div>
      </div>
      <div class= "row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				  <div class="text-right">
				    <%= f.submit "Create", class:"btn btn-primary" %>
			    </div>
			  </div>
      </div>
    <% end %>
    </div>
</div>